body {
background-color: ghostwhite;
}
h1{
    color: black;
    font-family: sans-serif;
    text-align: center;
}
p {
color: black;
font-family: sans-serif;
text-align: center;
}
div {
    color: black;
    font-family: sans-serif;
    text-align: center; 
}
form {
    color: black;
    font-family: sans-serif;
    text-align: center; 
}
table{
    width: 100%;
}
th {
    color: black;
    font-family: sans-serif;
    text-align: center; 
    padding: 6px;
}
td {
    color: black;
    font-family: sans-serif;
    text-align: center; 
    padding: 6px;
}

   
